* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding: 25px;
}

/* .chatPage {
  display: none;
} */

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.chatwindowbox {
  max-height: 300px;
  min-height: 300px;
  border: 1px solid green;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: -10px;
  overflow: auto;
}

ul li {
  border-radius: 15px;
  font-size: 1.1em;
  list-style: none;
  padding: 3px 3px;
  width: 250px;
  margin-bottom: 14px;
}

.nameandtime {
  font-style: italic;
  font-weight: 400;
  color: #4682b4;
  padding-left: 7px;
}

.textmessage {
  font-size: 1em;
  font-weight: 400;
  padding-left: 10px;
}

.mymessages {
    background-color: rgba(0, 255, 0, 0.1);
}

.othermessages {
  background-color: rgba(255, 0, 0, 0.1);
}

.namefield {

}

input {
  margin-top: 25px;
  padding: 5px 10px;
  font-size: 2em;
}

button {
  margin-top: 20px;
  font-size: 2em;
  padding: 5px;
}
